<div #navBtnContent class="nav-btn-content">
    <!--<ng-content select="tutator-nav-btn"></ng-content>-->
    <!--<ng-template >-->
      <!--<tutator-nav-btn [data]="data" [layoutTemplate]="templateNav"></tutator-nav-btn>-->
    <!--</ng-template>-->
      <!--<tutator-nav-btn [data]="data" [layoutTemplate]="templateNav" *ngFor="let data of navList" ></tutator-nav-btn>-->


  <tutator-nav-btn [data]="data" [layoutTemplate]="templateNav" *ngFor="let data of navList" ></tutator-nav-btn>

</div>

<div id="dropdown"></div>
<!--<tutator-nav-btn [data]="data" [layoutTemplate]="templateNav" *ngFor="let data of navList" ></tutator-nav-btn>-->
