<div #navBtnContent class="nav-btn-content">
  <tutator-nav-btn [data]="data" [ind]="data.ind" [layoutTemplate]="templateNav" *ngFor="let data of btnGroupList;" ></tutator-nav-btn>
  <button class="more-options" *ngIf="dropdownList.length > 0"> ... </button>
</div>

<div class="dropdown">
  <span *ngFor="let item of dropdownList">
    {{item.name}}
  </span>
</div>
<!--<div *ngFor="let obj of navList">-->
<!--  {{obj.name}}-->
<!--</div>-->
<calcule-size (domChange)="domChange($event)" [data]="dataCalcule" [layoutTemplate]="templateNav"></calcule-size>

<!--<tutator-nav-btn [data]="data" [layoutTemplate]="templateNav" *ngFor="let data of navList" ></tutator-nav-btn>-->
