<div style="width: 400px">
  <tutator-nav-btn-dropdown [navList]="navlist" [templateNav]="btn" [(list)]="navlist">
  <!--<tutator-nav-btn>-->
    <!--xxxxxx-->
    <!--<ng-template let-data="data">-->
      <!--asdfasdf-->
      <!--{{data.name}}-->
    <!--</ng-template>-->
  <!--</tutator-nav-btn>-->
    <ng-template let-data="data" #btn>
      <button (click)="clicked(data)" >
        {{data.name}}
      </button>
    </ng-template>
  </tutator-nav-btn-dropdown>
</div>
<button (click)="add()">Add</button>
<button (click)="edit()">edit 1</button>
<button (click)="edit2()">edit 2</button>
<button (click)="delete()">delete</button>
