<h1>{{width}}</h1>
<div [style.width]="width">
  <tutator-nav-btn-dropdown [navList]="navlist" [templateNav]="btn" [(list)]="navlist">
  <!--<tutator-nav-btn>-->
    <!--xxxxxx-->
    <!--<ng-template let-data="data">-->
      <!--asdfasdf-->
      <!--{{data.name}}-->
    <!--</ng-template>-->
  <!--</tutator-nav-btn>-->
    <ng-template let-data="data" #btn>
      <button (click)="clicked(data)" >
        {{data.name}}
      </button>
    </ng-template>
  </tutator-nav-btn-dropdown>
</div>

<button (click)="add()">Add</button>
<button (click)="edit()">edit 1</button>
<button (click)="edit2()">edit 2</button>
<button (click)="delete()">delete</button>

<button (click)="changesSize()">resize</button>

<!--<div [style.width]="width" >-->
<!--  <tp3-dropdown-component [navList]="navlist" [templateNav]="btn">-->
<!--    <ng-template let-data="data" #btn let-i="i">-->
<!--              <span class="btn dropdown&#45;&#45;btn">-->
<!--                {{data.name}}-->
<!--              </span>-->
<!--    </ng-template>-->
<!--  </tp3-dropdown-component>-->
<!--</div>-->
<!--<button (click)="addtp3()">Add</button>-->
<!--<button (click)="changesSize()">resize</button>-->
<!--<button (click)="addtp3()">Add</button>-->

